on: [push, pull_request]

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
        # Use the same Python version as your project
          python-version: "3.11"
      - name: upgrade pip
        run: |
          python -m pip install --upgrade pip
          
      - name: Install Poetry
        run: pip install poetry
        
      - name: Install dependencies
        run: |
          poetry config virtualenvs.in-project true
          poetry install --no-interaction --no-ansi
        
      - name: Run pylint on src
        run: poetry run pylint ./src --exit-zero 
      
      - name: Run pylint on tests     
        run: poetry run pylint ./tests --exit-zero # --fail-on=error  
        # uses: github/super-linter@v4
        # env:
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
